h1 {font-size: 60px; text-align: center; color: black;}

p {font-size: 40px;}

strong {font-size: 34px}

h1 {background: #DB7093;}

strong {color: black;}

h1 {background: #87CEFA;}
body {background: 	#E6E6FA}

h2 {font-size: 45px;text-align: center; color: black; background: #008B8B;}
ul {font-size: 30px;}
ol {font-size: 30px;}
#imagem { height:20px; width:40px }